---
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Inconsolata" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <script src="{{site.baseurl}}/javascripts/highlight.pack.js"></script>
    <script src="{{site.baseurl}}/javascripts/setup.js"></script>
  </head>
  <body>
    {% include navigation.html %}
    <main>
      {% include hero.html %}
      {% include selling-points.html %}
      {% include example-usage.html %}
    </main>
    {% include footer.html %}
  </body>
</html>
