<footer class="layout layout--dark">
  <section class="content content--centered">
    <a href="http://thoughtbot.com/">
      <img src="images/logo-thoughtbot-horizontal.svg" alt="thoughtbot"/>
    </a>
    <p>
      ember-cli-rails is maintained and funded by
      <a href="http://thoughtbot.com/">thoughtbot, inc.</a></br>
      The names and logos for thoughtbot are trademarks of
      <a href="http://thoughtbot.com/">thoughtbot, inc.</a>
    </p>
    <p>
      We love open source software!</br>
      See our <a href="https://thoughtbot.com/open-source">other projects</a> or
      <a href="https://thoughtbot.com/hire-us">hire us</a> to help build your
      product.
    </p>
  </section>
</footer>
