<section class="layout">
  <section class="content content--large content--grid content--centered">
    <article class="content--grid__item">
      <img src="images/icon-ruby.svg" alt="Keep your rails workflow" />
      <h4>
        Keep your Rails workflow
      </h4>
      <p>
        Serve both your Ember and Rails applications from a single process.
      </p>
    </article>
    <article class="content--grid__item">
      <img src="images/icon-cloud.svg" alt="Simplify your Heroky deployments" />
      <h4>
        Simplify your Heroku deployments
      </h4>
      <p>
        Easily deploy by merging the outputs of both build processes with a
        single git push.
      </p>
    </article>
    <article class="content--grid__item">
      <img src="images/icon-testing.svg" alt="Write end-to-end integration tests" />
      <h4>
        Write end-to-end integration tests
      </h4>
      <p>
        End-to-end full stack integration tests with JavaScript enabled
        Capybara tests.
      </p>
    </article>
    <article class="content--grid__item">
      <img src="images/icon-goodie.svg" alt="Get all the newest goodies" />
      <h4>
        Get all the newest goodies
      </h4>
      <p>
        Get all the new goodies like ES6 modules and Ember CLI addons too!
      </p>
    </article>
    <footer class="content__footer">
      <a class="button" href="https://github.com/thoughtbot/ember-cli-rails">
        Full Documentation
      </a>
    </footer>
  </section>
</section>
