body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: 300;
}

h1,
h2,
h4 {
  color: $header-font-color;
  font-family: $header-font-family;
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

a {
  font-weight: 400;
  text-decoration: none;
}

.aqua {
  color: $aqua;
}

.lime {
  color: $lime;
}

p,
code {
  line-height: 1.4;
}
