// Fonts
$base-font-family: "Lato", Helvetica, sans-serif;
$code-font-family: "Inconsolata", serif;
$header-font-family: "Lato", Helvetica, sans-serif;

// Colors
$alabaster: #fcfcfc;
$aqua: #61e5ea;
$celeste: #ccc;
$ember-orange: #e14a30;
$lime: #d2f8ad;
$navy: #1f202a;
$outer-space: #2d383a;
$ruby-red: #ac1c2c;
$white: #fff;

// Buttons
$base-button-background-color: $ember-orange;
$base-button-hover-background-color: $ruby-red;
$base-button-color: $white;

// Layout
$base-layout-vertical-padding: 4rem;

// Screen Sizes
$small-screen: 420px;
$medium-screen: 640px;
$large-screen: 880px;
