// Fonts
$base-font-family: "Lato", Helvetica, sans-serif;
$code-font-family: "Inconsolata", serif;
$header-font-family: "Lato", Helvetica, sans-serif;

// Colors
$aqua: #61e5ea;
$ember-orange: #e14a30;
$lime: #d2f8ad;
$navy: #1f202a;
