// Fonts
$base-font-family: "Lato", Helvetica, sans-serif;
$code-font-family: "Inconsolata", serif;
$header-font-family: "Lato", Helvetica, sans-serif;

// Colors
$alabaster: #fcfcfc;
$aqua: #61e5ea;
$celeste: #ccc;
$ember-orange: #e14a30;
$lime: #d2f8ad;
$navy: #1f202a;
$outer-space: #2d383a;
$ruby-red: #ac1c2c;
$white: #fff;

// Layout
$base-layout-vertical-padding: 4rem;

// Screen Sizes
$medium-screen: 640px;
